/* Home.css */

/* Table styles */
table {
  width: 500px;
}

thead tr th {
  text-align: center;
}

tbody tr {
  margin: 10px 0;
}

/* Button styles */
button {
  background-color: blue;
  color: white;
}
