* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: rgb(210, 225, 238);
    justify-content: center;
    align-items: center;
}

.container-grid {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    background-color: rgb(31, 31, 31);
}

.cont {
    height: auto;
    width: 20vw;
    padding: 20px;
    background-color: rgb(31, 31, 31);
    border-radius: 35px;
}


.calculator-button {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: none;
    font-size: 26px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 15px;
    text-align: center;
}

.all-clr {
    grid-column-start: span 3;
    width: 95%;
}

.gray-button {
    background-color: rgb(51, 51, 51);
    color: white;
}

.gray-button:hover {
    background-color: rgb(75, 75, 75);
}

.gray-button:active {
    background-color: rgb(95, 95, 95);
}

.orange-button {
    background-color: rgb(254, 160, 10);
    color: white;
}

.orange-button:hover {
    background-color: rgb(265, 170, 20);
    color: white;
}

.orange-button:active {
    background-color: rgb(285, 180, 30);
    color: white;
}

.display {
    grid-column-start: span 4;
    grid-row-start: span 2;
    font-size: 26px;
    text-align: right;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(31, 31, 31);
    border: none;
    border-bottom: 2px solid rgb(51, 51, 51);
    outline: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}